appnope==0.1.4
asttokens==3.0.0
attrs==25.3.0
blinker==1.9.0
certifi==2025.4.26
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.0
comm==0.2.2
cryptography==45.0.2
dash==3.0.4
dash-bootstrap-components==2.0.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
debugpy==1.8.14
decorator==5.2.1
Deprecated==1.2.18
distlib==0.3.9
docopt==0.6.2
executing==2.2.0
filelock==3.18.0
Flask==3.0.3
gunicorn==23.0.0
identify==2.6.10
idna==3.10
importlib_metadata==8.7.0
iniconfig==2.1.0
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jupyter_client==8.6.3
jupyter_core==5.7.2
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
narwhals==1.39.1
nest-asyncio==1.6.0
nodeenv==1.9.1
numpy==2.2.6
packaging==21.3
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pipreqs==0.4.12
platformdirs==4.3.8
plotly==6.1.0
pluggy==1.6.0
pre-commit==2.16.0
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
pycparser==2.22
PyGithub==2.6.1
Pygments==2.19.1
PyJWT==2.10.1
PyNaCl==1.5.0
pyparsing==3.2.3
pytest==6.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.4.0
requests==2.32.3
retrying==1.3.4
ruamel.yaml==0.17.21
setuptools==80.7.1
six==1.17.0
stack-data==0.6.3
termcolor==1.1.0
toml==0.10.2
tornado==6.5
traitlets==5.14.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
virtualenv==20.31.2
visdcc==0.0.50
wcwidth==0.2.13
Werkzeug==3.0.6
wrapt==1.17.2
yarg==0.1.10
yolk3k==0.9
zipp==3.21.0
